@import '../base';

.banner {
  display: flex;
  align-items: center;
  min-height: calc(var(--vh, 1vh) * 50);
  overflow: hidden;

  @include viewport-desktop {
    padding: px-to-rem(120) 0 px-to-rem(60);
  }
  @include viewport-tablet {
    padding: px-to-rem(100) 0 px-to-rem(54);
  }
  @include viewport-phone {
    padding: px-to-rem(82) 0 px-to-rem(50);
  }

  //.banner__wrapper 
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    //padding: px-to-rem(60) 0;

    @include viewport-tablet-min {
      justify-content: space-between;
    }

    @include viewport-phone {
      flex-direction: column-reverse;
    }

    // > * + * {
    //   @include viewport-tablet-min {
    //     margin-left: px-to-rem(50);
    //   }

    //   @include viewport-phone {
    //     margin-top: px-to-rem(52);
    //   }
    // }

    > * {
      @include viewport-tablet-min {
        margin-right: px-to-rem(50);
      }

      @include viewport-phone {
        margin-top: px-to-rem(52);
      }

      &:last-child {
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
  
  //.banner__main 
  &__main {
    max-width: calc(#{px-to-rem(622)} + 2 * #{px-to-rem(32)});
    width: 100%;

    @include viewport-tablet-min {
      border-radius: px-to-rem(30);
      padding: px-to-rem(32);
      backdrop-filter: blur(5px);
      background-color: rgba(var(--color-white--rgb), 0.2);
    }

    @include viewport-phone {
      text-align: center;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(16);
      }
      @include viewport-phone {
        margin-top: px-to-rem(28);
      }
    }
  }
  
  //.banner__title 
  &__title {
    @include text-heading-1;
  }
  
  //.banner__subtitle 
  &__subtitle {
    line-height: 142.857%;
    color: var(--color-black-100);
    
    @include viewport-tablet-min {
      font-weight: 600;
      font-size: px-to-rem(21);
    }
    @include viewport-phone {
      font-weight: 500;
      font-size: px-to-rem(18);
      text-shadow: 0 1px 5px 0 rgba(var(--color-black--rgb), 0.15);
    }
  }
  
  //.banner__description 
  &__description {
    &._desk {
      margin-top: px-to-rem(12);
      
      @include viewport-phone {
        display: none;
      }
    }

    font-weight: 400;
    line-height: 116%;
    
    @include viewport-tablet-min {
      font-size: px-to-rem(18);
    }

    @include viewport-phone {
      font-size: px-to-rem(16);
      text-shadow: 0 1px 5px 0 rgba(var(--color-black--rgb), 0.15);
    }
  }
  
  //.banner-canvas 
  &-canvas {
    position: relative;
    max-width: px-to-rem(640);
    width: 100%;
    z-index: 0;
    overflow: hidden;
    transform: translateZ(0);

    @include viewport-phone {
      //max-width: px-to-rem(300);
      @media (max-width: 550px) {
        width: calc(110% + 2 * var(--wrap));
        margin-left: calc(24px - 1 * var(--wrap));
      }
    }

    //.banner-canvas__container 
    &__container {
      padding-top: 53.75%;
      opacity: 0;
      @include transition(0.6s ease);
    }

    .canvas-logo {
      @include absolute-fullsize;
      z-index: 0;
      //background-color: var(--color-red);
    }
  }
  
  //.banner__footer 
  &__footer {
    border-radius: px-to-rem(10);
    padding: px-to-rem(18) px-to-rem(16);
    backdrop-filter: blur(5px);
    background-color: rgba(var(--color-white--rgb), 0.2);

    @include viewport-tablet-min {
      display: none;
    }
  }
}