@import '../base';

.fade-section {
  
  //.fade-section__inner 
  // &__inner {
  // }
  
  // //.fade-section__list 
  // &__list {
  // }
  
  // //.fade-section__button 
  // &__button {
  // }
  
  //.fade-section-content 
  &-content {
    position: relative;
    z-index: 0;
    overflow: hidden;
    outline: none;

    background-color: var(--color-red);

    //.fade-section-content__item 
    &__item {
      position: relative;
      width: 100%;

      &.unactive {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}