@import '../base';

.services {
  
  //.services__wrapper 
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(74);
      }
      @include viewport-tablet {
        margin-top: px-to-rem(52);
      }
      @include viewport-phone {
        margin-top: px-to-rem(32);
      }
    }
  }
  
  //.services__header 
  &__header {
    width: 100%;

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(64);
      }
      @include viewport-tablet {
        margin-top: px-to-rem(40);
      }
      @include viewport-phone {
        margin-top: px-to-rem(14);
      }
    }
  }
  
  //.services__title 
  &__title {
    @include text-heading-2;
  }
  
  //.services__subtitle 
  &__subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    line-height: 116%;

    @include viewport-desktop {
      font-size: px-to-rem(36);
    }
    @include viewport-tablet {
      font-size: px-to-rem(26);
    }
    @include viewport-phone {
      font-size: px-to-rem(16);
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(12);
      }      
      @include viewport-phone {
        margin-left: px-to-rem(8);
      }
    }

    img {
      flex-shrink: 0;
      width: 100%;
      height: auto;

      @include viewport-tablet-min {
        max-width: px-to-rem(136);
      }
      @include viewport-phone {
        max-width: px-to-rem(74);
      }
    }
  }
  
  //.services__main 
  &__main {
    width: 100%;
    
    &.desktop {
      @include viewport-phone {
        display: none;
      }
    }
    
    &.mobile {
      @include viewport-tablet-min {
        display: none;
      }
    }

    > * + * {
      @include viewport-desktop {
        margin-top: px-to-rem(50);
      }
      @include viewport-tablet {
        margin-top: px-to-rem(36);
      }
      @include viewport-phone {
        margin-top: px-to-rem(16);
      }
    }
  }
  
  //.services__list 
  &__list {
    width: 100%;

    @include viewport-tablet-min {
      display: flex;
      justify-content: space-between;
    }

    > li {
      width: 100%;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(24);
      }
      @include viewport-phone {
        margin-top: px-to-rem(16);
      }
    }
  }
  
  //.services-button 
  &-button {
    @include reset-button;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: px-to-rem(20);
    box-shadow: 0 1px 10px 0 rgba(var(--color-black-200--rgb), 0.2);
    overflow: hidden;

    @include transition(background 1s);
    text-align: left;
    color: var(--color-black);
    background-image: linear-gradient(90deg, var(--color-violet) 0, var(--color-violet) 25%, var(--color-violet-300) 75%, var(--color-violet-400) 100%);
    background-repeat: no-repeat;
    background-size: 400% 100%;
    background-position: 0 0;

    &.active {
      background-position: 100% 0;
    }
    
    @at-root .accordion-list__item.active & {
      background-position: 100% 0;
    }

    @include hover-focus-visible {
      @include non-mobile-device {
        background-position: 100% 0;
      }
    }

    @include viewport-desktop {
      height: 100%;
      padding: px-to-rem(30) px-to-rem(4) px-to-rem(30) px-to-rem(22);
    }

    @include viewport-tablet {
      height: 100%;
      padding: px-to-rem(22) px-to-rem(4) px-to-rem(20) px-to-rem(16);
    }

    @include viewport-phone {
      min-height: px-to-rem(124);
      padding: px-to-rem(16) px-to-rem(4) px-to-rem(16) px-to-rem(12);
    }

    > * + * {
      margin-left: px-to-rem(16);
    }

    //.services-button__label 
    &__label {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      @include viewport-desktop {
        align-self: flex-start;
        max-width: px-to-rem(61);
      }
      
      @include viewport-tablet {
        align-self: flex-start;
        max-width: px-to-rem(46);
      }

      @include viewport-phone {
        max-width: px-to-rem(46);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    
    //.services-button__text 
    &__text {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include viewport-desktop {
        font-size: px-to-rem(16);
      }
      @include viewport-tablet-max {
        font-size: px-to-rem(14);
      }

      > * + * {
        margin-top: px-to-rem(4);
      }
    }
    
    //.services-button__title 
    &__title {
      @include text-heading-4;
      text-transform: unset;

      @include viewport-tablet {
        font-size: px-to-rem(20);
      }
      @include viewport-phone {
        font-size: px-to-rem(20);
      }
    }

    //.services-button__description 
    &__description {
      color: var(--color-black);
    }
    
    //.services-button__arrow 
    &__arrow {
      flex-shrink: 0;
      width: 100%;
      max-width: px-to-rem(32);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: px-to-rem(4);

      img {
        width: 100%;
        height: auto;

        @include transition(transform 0.6s);

        @at-root .services-button.active .services-button__arrow img {
          transform: rotate(180deg);
        }
        
        @at-root .accordion-list__item.active .services-button .services-button__arrow img  {
          transform: rotate(180deg);
        }
      }
    }
  }

  //.services-details 
  &-details {
    > * + * {
      margin-top: px-to-rem(32);
    }
  }

  //.services-content 
  &-content {
    border-radius: px-to-rem(20);
    
    @include viewport-tablet-min {
      grid-template-columns: repeat(2, 1fr);
      gap: px-to-rem(46);
      padding: px-to-rem(32) px-to-rem(26) px-to-rem(42);
      box-shadow: 0 1px 10px 0 rgba(var(--color-black-200--rgb), 0.20);

      background-color: var(--color-violet);
    }

    @include viewport-phone {
      grid-template-columns: 1fr;
      gap: px-to-rem(24);
      padding: px-to-rem(60) px-to-rem(16) px-to-rem(34);

      /* stylelint-disable-next-line */
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      text-align: center;
      background-color: rgba(var(--color-white--rgb), 0.3);
    }

    > * + * {
      margin-top: px-to-rem(26);
    }

    //.services-content__grid 
    &__grid {
      display: grid;

      @include viewport-tablet-min {
        grid-template-columns: repeat(2, 1fr);
        gap: px-to-rem(46);
      }
  
      @include viewport-phone {
        grid-template-columns: 1fr;
        gap: px-to-rem(24);
      }
    }

    //.services-content__col 
    &__col {
      width: 100%;

      &._border {
        border: 1px solid var(--color-red-200);
        border-radius: px-to-rem(20);
        padding: px-to-rem(16);

        color: var(--color-black-100);
      }

      > * + * {
        margin-top: px-to-rem(8);
      }
    }
    
    //.services-content__title 
    &__title {
      @include text-heading-4;
      font-weight: 600;
      text-transform: unset;
    }
    
    //.services-content__description 
    &__description {
      font-size: px-to-rem(18);
      line-height: 116%;
    }
  }

  //.services-contact 
  &-contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    @include viewport-tablet-min {
      margin-top: px-to-rem(30);
    }

    @include viewport-phone {
      display: none;
      margin-top: px-to-rem(10);
    }

    > * + * {
      margin-top: px-to-rem(18);
    }

    //.services-contact__title 
    &__title {
      @include text-heading-3;
      text-transform: unset;
      font-weight: 500;
    }
    
    //.services-contact__button 
    &__button {
      max-width: unset;
      width: max-content;
      padding: px-to-rem(12) px-to-rem(24);
    }
  }
}