@import 'normalize.css/normalize.css';

@import './base';
@import './settings';
@import './fonts';

@import 'vevet/src/sass/components/scroll/scrollbar';
@import 'vevet/src/sass/components/loading/preloader';

@import './colors';
@import './common';
@import './wrap';

.#{$prefix}scrollbar {
  &__thumb {
    background-color: var(--color-violet);
  }
}

html,
body {
  overflow-x: hidden;
  line-height: 116%;

  &.lock,
  &:not(.v-loaded) {
    overflow: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  @include reset-ul;
}

.container {
  position: relative;
  z-index: 1;
}

._container {
  width: 100%;
  // max-width: calc(100vw - 2 * var(--wrap));
  // margin: 0 auto;
  padding-left: var(--wrap);
  padding-right: var(--wrap);
  // margin: 0;
}

.logo-link {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  
  @include viewport-tablet-min {
    max-width: px-to-rem(136);
  }
  
  @include viewport-phone {
    max-width: px-to-rem(98);
  }

  @at-root .popup__logo & {
    max-width: px-to-rem(130);
  }

  img,
  svg {
    width: 100%;
    height: auto;
  }
}

.button {
  @include button;
}

.button-light {
  @include button-light;
}

section {
  @include viewport-desktop {
    padding: px-to-rem(60) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(54) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(50) 0;
  }
  
  // &._blue {
  //   background-color: var(--color-blue-200);
  // }

  &._first-section {
    // @include viewport-tablet-min {
    //   margin-top: px-to-rem(74);
    // }
    // @include viewport-phone {
    //   margin-top: px-to-rem(72);
    // }
  }
}

.title__container {
  --title-width: #{px-to-rem(80)};

  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;

  @at-root .services-content & {
    @include viewport-phone {
      display: none;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 100vw;
    height: 1px;
    
    transform: translate(0, -50%);
    background-color: rgba(var(--color-black-200--rgb), 0.3);

    @at-root .services-content .title__container::before {
      @include viewport-phone {
        display: none;
      }
    }

    @at-root .services-content .title__container::after {
      @include viewport-phone {
        display: none;
      }
    }
  }
  
  &::before {
    @include viewport-tablet-min {
      right: calc(50% + #{px-to-rem(8)} + var(--title-width) * 0.5);
    }
    @include viewport-phone {
      right: calc(50% + #{px-to-rem(8)} + var(--title-width) * 0.5);
    }
  }
  
  &::after {
    @include viewport-tablet-min {
      left: calc(50% + #{px-to-rem(8)} + var(--title-width) * 0.5);
    }
    @include viewport-phone {
      left: calc(50% + #{px-to-rem(8)} + var(--title-width) * 0.5);
    }
  }
}

.title {
  @include text-heading-3;
  position: relative;
  z-index: 1;   
  
  @at-root .services-content & {
    text-transform: unset;

    @include viewport-phone {
      font-weight: 600;
    }
  }
}

.v-preloader {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: px-to-rem(60);

  color: var(--color-black);
  background-color: var(--color-white);

  //.v-preloader__logo 
  &__logo {
    max-width: px-to-rem(136);

    img {
      width: 100%;
      height: auto;
    }
  }
}


//templates
@import './layout/form';
@import './layout/header';
@import './layout/popup';
@import './layout/footer';

@import './layout/video';
@import './layout/banner';
@import './layout/fadeContent';
@import './layout/accordion';
@import './layout/services';
@import './layout/stages';
@import './layout/technologies';
@import './layout/help';
@import './layout/contact';
